@import "variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font !important;
  color: $font-main-color ;
}

@mixin hideScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    background-color: $main-background-color;

  & .content {
    & .vr {
        background-color: $main-dark;
    }

    & .content-list {
        height: auto;
        overflow-x: auto;

      & select {
        background-color: $main-background-color;
        overflow-y: scroll;
        @include hideScrollBar;

        &:focus {
          outline: none;
        }

        & option {
          width: auto;
        }
      }
    }
  }
}
